In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns
import numpy as np
import scipy as sp
import os
import xgboost as xgb
%matplotlib inline

/Users/andrewrubino/anaconda2/lib/python2.7/site-packages/sklearn/cross_validation.py:44: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [2]:
train = pd.read_csv("./train.csv", parse_dates = ['timestamp'])
print train.shape
test = pd.read_csv("./test.csv", parse_dates = ['timestamp'])
print test.shape
macro = pd.read_csv("./macro.csv", parse_dates = ['timestamp'])
print macro.shape
train.head()

(30471, 292)
(7662, 291)
(2484, 100)

,id,timestamp,full_sq,life_sq,floor,max_floor,material,build_year,num_room,kitch_sq,...,cafe_count_5000_price_2500,cafe_count_5000_price_4000,cafe_count_5000_price_high,big_church_count_5000,church_count_5000,mosque_count_5000,leisure_count_5000,sport_count_5000,market_count_5000,price_doc
0,1,2011-08-20,43,27.0,4.0,NaN,NaN,NaN,NaN,NaN,...,9,4,0,13,22,1,0,52,4,5850000
1,2,2011-08-23,34,19.0,3.0,NaN,NaN,NaN,NaN,NaN,...,15,3,0,15,29,1,10,66,14,6000000
2,3,2011-08-27,43,29.0,2.0,NaN,NaN,NaN,NaN,NaN,...,10,3,0,11,27,0,4,67,10,5700000
3,4,2011-09-01,89,50.0,9.0,NaN,NaN,NaN,NaN,NaN,...,11,2,1,4,4,0,0,26,3,13100000
4,5,2011-09-05,77,77.0,4.0,NaN,NaN,NaN,NaN,NaN,...,319,108,17,135,236,2,91,195,14,16331452

In [ ]:
ftr_train = train.loc[:, ['price_doc',
'id',
'timestamp',
'full_sq',
'life_sq',
'floor',
'max_floor',
'material',
'build_year',
'num_room',
'kitch_sq',
'tk/state',
'product_type',
'sub_area',
'indust_part',
'school_education_centers_raion',
'sport_objects_raion',
'culture_objects_top_25_raion',
'oil_chemistry_raion',
'metro_min_avto',
'green_zone_km',
'industrial_zone_km',
'kremlin_km',
'radiation_km',
'ts_km',
'fitness_km',
'stadium_km',
'additional_education_km',
'cafe_count_1500_price_500',
'cafe_count_1500_price_high',
'cafe_count_2000_price_2500',
'trc_sqm_5000',
'cafe_count_5000',
'cafe_count_5000_price_high']]


ftr_test = test.loc[:, ['id',
'timestamp',
'full_sq',
'life_sq',
'floor',
'max_floor',
'material',
'build_year',
'num_room',
'kitch_sq',
'tk/state',
'product_type',
'sub_area',
'indust_part',
'school_education_centers_raion',
'sport_objects_raion',
'culture_objects_top_25_raion',
'oil_chemistry_raion',
'metro_min_avto',
'green_zone_km',
'industrial_zone_km',
'kremlin_km',
'radiation_km',
'ts_km',
'fitness_km',
'stadium_km',
'additional_education_km',
'cafe_count_1500_price_500',
'cafe_count_1500_price_high',
'cafe_count_2000_price_2500',
'trc_sqm_5000',
'cafe_count_5000',
'cafe_count_5000_price_high']]

ftr_macro = macro.loc[:,['timestamp',
'gdp_quart',
'cpi',
'ppi',
'usdrub',
'eurrub',
'gdp_annual',
'rts',
'micex',
'micex_cbi_tr',
'deposits_rate',
'mortgage_rate',
'income_per_cap',
'salary',
'labor_force',
'unemployment',
'employment']]